<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiChefAI"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <!-- Deep link handling -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- URI scheme for deep linking -->
                <data android:scheme="tabemono" android:host="chef-ai" android:pathPrefix="/login" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FavoriteActivity"
            android:label="Favorite Recipes"
            android:theme="@style/Theme.AplikasiChefAI" />

        <activity
            android:name=".MyRecipesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AplikasiChefAI" />

        <activity
            android:name=".AddRecipeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AplikasiChefAI" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:parentActivityName=".ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfileActivity" />
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AplikasiChefAI" />

        <activity
            android:name=".FeedActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AplikasiChefAI" />

        <activity
            android:name=".ViewUserProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AplikasiChefAI" />

        <activity
            android:name=".FollowListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AplikasiChefAI" />

        <activity
            android:name=".EditRecipeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AplikasiChefAI" />

        <activity
            android:name=".MessageListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AplikasiChefAI" />

        <activity
            android:name=".ChatActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AplikasiChefAI" />

        <activity
            android:name=".SearchUsersActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AplikasiChefAI" />

        <!-- Updated WebVerificationActivity with additional intent filter -->
        <activity
            android:name=".WebVerificationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- URI scheme for handling verification links from browser -->
                <data android:scheme="https"
                    android:host="tabemono.my.id"
                    android:pathPrefix="/verify-email" />
            </intent-filter>
            <!-- New intent filter for app deep linking -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tabemono"
                    android:host="chef-ai"
                    android:pathPrefix="/verify" />
            </intent-filter>


        </activity>

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".PasswordResetSuccessActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tabemono"
                    android:host="chef-ai"
                    android:pathPrefix="/password-reset-success" />
                <data android:scheme="tabemono"
                    android:host="chef-ai"
                    android:pathPrefix="/password-reset-error" />
            </intent-filter>
        </activity>

    </application>
</manifest>